* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  color: #222;
}
h4 {
  font-size: 20px;
  line-height: 54px;
  color: #222;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}
p{
  font-size: 16px;
  color: #465b52;
  margin: 15px 0px 20px 0px;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 7px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  padding: 11px 18px;
  border: 1px solid #ffffff;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}
/* Header Start */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3f6f3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
}
.logo {
  width: 50px;
  height: 50px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.5s ease;
}
#navbar li a:hover,
#navbar li a.active {
  /* Active class : Home */
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
  align-items: center;
}

#close{
  display: none;
}

/* Home Page */
#hero{
  background-image: url(Img/Divya\ HD\ Img\ for\ Banner\ -\ Copy\ \(2\).jpeg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 45% right 0;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero h4, p{
  padding-bottom: 15px;
  color: #ffffff;
}
#hero h2{
  color: orange;
}
#hero h1{
  color: #1cded1;
}
#hero button{
  background: none;
  border: none;
  background-color: yellow;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

#feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 10px;
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(20, 0, 0, 0.09);
}
#feature .fe-box h6{
  background-color: pink;
  padding: 9px 9px 8px 9px;
  display: inline-block;
  border-radius: 5px;
  color: #0e7871;
}
#feature .fe-box:nth-child(2) h6{
  background-color: wheat;
}
#feature .fe-box:nth-child(3) h6{
  background-color: thistle;
}
#feature .fe-box:nth-child(4) h6{
  background-color: tan;
}
#feature .fe-box:nth-child(5) h6{
  background-color: sandybrown;
}
#feature .fe-box:nth-child(6) h6{
  background-color: cadetblue;
}

#product1{
  text-align: center;
}
#product1 p{
  color: black;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid rgb(185, 180, 180);
  border-radius: 25px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  margin: 15px 0px;
  transition: 0.5s ease;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
#product1 .pro:hover{
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.09);
}
#product1 .pro img{
  width: 100%;
  border-radius: 30px;
}
#product1 .pro .des{
  text-align: start;
}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des .ic{
  font-size: 22px;
  color: rgb(243, 181, 25);
  padding-top: 10px;
}
#product1 .pro .des h4{
  font-size: 15px;
  font-weight: 700;
  color: #088178;
  padding-bottom: 10px;
}
#product1 .pro .cart{
  padding: 10px;
  border-radius: 50px;
  font-weight: 700;
  background-color: #2cd4c8;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#product1 a{
  text-decoration: none;
}
#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url(Img/Collection_Background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
#banner h4{
  color: #ffffff;
  font-size: 16px;
}
#banner h2{
  color: #ffffff;
  font-size: 30px;
  padding: 10px 0; 
}
#banner h2 span{
  color: #ef3636;
}
#banner button:hover{
  background-color: #088178;
  color: #ffffff;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(100deg, rgb(182, 140, 63), rgb(159, 47, 47)
  );
  /* background-color: rgb(242, 204, 133); */
  /* background-image: url(Img/Collection_Background.png); */
  background-size: cover;
  background-position: center;
  min-width: 650px;
  height: 50vh;
  padding: 30px;
}
#sm-banner .banner-box:nth-child(2){
  /* background-color: rgb(105, 181, 105); */
  background: linear-gradient(100deg, #088178, #ef3636);
}
#sm-banner h4{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300px;
}
#sm-banner h2{
  color: #ffffff;
  font-size: 28px;
  font-weight: 800px;
  padding-bottom: 10px;
}
#sm-banner span{
  color: #ffffff;
  font-size: 14px;
  font-weight: 500px;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
  background-color: #088178;
  color: #262626;
  border: none;
}

#banner3 .banner-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(100deg, rgb(182, 140, 63), rgb(159, 47, 47)
  );
  /* background-color: rgb(242, 204, 133); */
  /* background-image: url(Img/Collection_Background.png); */
  background-size: cover;
  background-position: center;
  min-width: 30%;
  height: 30vh;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box:nth-child(2){
  background: linear-gradient(100deg, rgb(58, 21, 27), gold);
}
#banner3 .banner-box:nth-child(3){
  background: linear-gradient(100deg, purple, green);
}
#banner3 .banner-box:nth-child(4){
  background: linear-gradient(100deg, red, rgb(25, 16, 16));
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
}
#banner3 h2{
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}
#banner3 h3{
  color: tomato;
  font-size: 15px;
  font-weight: 800;
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(60, 76, 157);
}
#newsletter h4{
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
#newsletter p{
  font-weight: 600;
  font-size: 15px;
  color: #80842b;
}
#newsletter p span{
  color: orange;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 15px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button{
  background-color: #100795;
  color: #ffffff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 15px;
  padding-bottom: 20px;
  color: #1a1a1a;
}

footer p{
  font-size: 13px;
  margin: 0p 0px 8px 0px;
  color: #1a1a1a;
}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
footer .copyright p{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .copyright p .clr{
  color: orange;
}
/* Shop Page */

/* Single Product */

/* Blog Page */

/* About Page */


/* Start Our Media Query */
@media(max-width: 799px){
  .section-p1 {
    padding: 40px 40px;
}
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
}
#navbar.active{
  right: 0px;
}
#navbar li{
  margin-bottom: 20px;
}
#mobile{
  display: flex;
  align-items: center;
}
#close{
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;
}
#hero{
  height: 70vh;
  background-position: top 30% right 30%;
  padding: 0px 80px;
}
#feature {
  justify-content: center;
  flex-wrap: wrap;
}
#feature .fe-box {
  margin: 15px 15px;
}
#product1 .pro-container {
  justify-content: center;
}
#product1 .pro {
  margin: 15px;
}
#sm-banner .banner-box {
  min-width: 100%;
  height: 40vh;
  padding: 30px;
}
#banner3 .banner-box {
  width: 28%;
}
#newsletter .form {
  width: 75%;
}
}
@media (max-width: 477px) {
  #header{
    padding: 10px 30px;
  }
  .section-p1{
    padding: 20px;
  }
  h1{
    font-size: 38px;
  }
  h2{
    font-size: 32px;
  }
  #hero{
    padding: 0 20px;
    background-position: 10%;
  }
  #feature{
    justify-content: space-between;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #banner3 {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 20px;
}
#banner3 .banner-box{
  width: 100%;
}
#newsletter .form {
  width: 100%;
}
}